*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
     /* color: #fff; */
     margin: 0;
}


.wrapper{
    max-width:1200px;
    margin: 0 auto;  
}

#company-name{
    color:#dec9e9;
    font-size:1.5rem;
}

#header{
    background-color: #000;
}

nav ul li a:link,
nav ul li a:visited{
    color:#dec9e9;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus{
    color:#fff;
}

#hero-banner{
    height: 60vh;
    background-color: #7251b5;
    background-image: url("../images/ice-cream-cones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}





/* header{
    width:100%;
    padding:3em 0px 3em 0px;
    background-image: url("../images/ice-cream-cones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header ul li{
    background-color: #000;
    width:100%;
    padding:3em 0px 3em 0px;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 1.5;
}

.wrapper{
    max-width:1200px;
    margin: 0 auto;  
}

h1, h2, h4 {
    font-family: 'Wix Madefor Display', sans-serif;
}

h1 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight:400;
    font-size:5rem;
    text-shadow:5px 5px #000;
}

#scoopalicious{
    background-color: #7150b4;
    width:100%;
    padding:3em 0px 3em 0px;
}

#fan-favourites{
    background-color: #000;
    color: #dec9e9;
    padding: 1.5em 0px 1.5em 0px;
}


#our-team{
    background-color: #7150b4;
    width:100%;
    padding:3em 0px 3em 0px;
    display:flex;
}

#our-team div{
    width:50%;
    padding: .5em;
    flex-direction: column;
}

#our-team img{
    filter: grayscale();
    width: 100px;
    border-radius: 50%;
}

footer{
    background-color: #000;
    width:100%;
    padding:3em 0px 3em 0px;
} */